.question-wrapper{
    width: 900px;
    height: 500px;
    display: flex;
    background-color: #2A3132;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-test{
    font-weight: 300;
    font-size: 40px;
}

.test-text{
    font-weight: 300;
    font-size: 20px;
}
.question-button{
    width: 100px;
    height: 35px;
    background-color: green;
    border: 0;
    color: white;
    border-radius:10px ;
    cursor: pointer;
}
.input-username{
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 10px;
}
.ant-space-item{
    margin-bottom: 10px;
}
.ant-alert{
    color: red;
}